[logging]
# Logging:
# logfile = full path to log file
# loglevel = info,warn,debug
logfile = /var/log/thermCleanup
loglevel = debug
logrotation = midnight
logcount = 3

[main]
mysqlUser = <user>
mysqlPass = <password>
mysqlDatabase = Thermostat
mysqlHost = localhost
mysqlPort = 3306
